services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: leanwms
      POSTGRES_PASSWORD: leanwms
      POSTGRES_DB: leanwms
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
